<a href="https://colab.research.google.com/github/lelyamalia/Kelas-Dasar-PSDS-PD4/blob/main/PSDS_7_12_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

In [ ]:
def data_nama(nama):
  print(nama)

data_nama('Lia')

Lia

# Argumen posisi dan Argumen kata kunci

In [ ]:
def angka(a, b, c):
  print(a, b, c)

#Argumen posisi
#Argumen berdasarkan posisinya
angka(1, 2, 3)

#argumen berdasarkan kata kuncinya
angka(a=1, b=2, c=3)
angka(c=3, b=2, a=1)
#catatan jika sudah diberi kata kunci maka urutan tidak menjadi penting

#campuran antara argumen posisi dan argumen kata kunci
angka(1, b=2, c=3)

#ini tidak diijinkan:
#angka(1, b=2, 3) #argumen posisional setelah argumen kunci
#angka(1, b=2, a=3) #terdapat dua nilai untuk argumen kunci 'a'

1 2 3
1 2 3
1 2 3
1 2 3

# Argumen Default

In [ ]:
def angka2(a, b, c, d=4):
  print(a, b, c, d)

angka2(1, 2, 3, 4)
angka2(1, b=2, c=3, d=100)
angka2(1,2,3)

1 2 3 4
1 2 3 100
1 2 3 4

In [ ]:
x = 1
y = 2
x+y

3

In [ ]:
def penjumlahan(x,y):   #input
  a=x+y                 #proses
  return a              #output

penjumlahan(1, 2)       #menggunakan fungsi

3

# Penjumlahan yang memungkinkan untuk tiga bilangan

In [ ]:
def penjumlahan(x,y,z=None):
  if (z==None):
    return x+y
  else:
    return x+y+z

print(penjumlahan(1, 2))
print(penjumlahan(1, 2, 3))

3
6

# Menyimpan hasil fungsi dalam variabel

In [ ]:
def penjumlahan(x,y):
  return x+y

a = penjumlahan
a(1, 2)

3

# Lambda

In [ ]:
def square_sum(x,y):  #menggunakan function
  return x**2 + y**2

In [ ]:
lambda x,y : x**2 + y**2  #lambda

# Menggunakan Lambda Expression

Lambda bisa memiliki lebih dari satu argumen atau parameter, tapi hanya bisa memiliki satu ekspresi atau isi

In [ ]:
greeting = lambda name : print(f"hello, {name}")

In [ ]:
greeting("Lia")
greeting("Putri")

hello, Lia
hello, Putri

Beberapa contoh penggunaan fungsi lambda

In [ ]:
#Fungsi Lambda untuk menambahkan angka 10 kepada argument input
f = lambda x: x+10
val1 = f(5)
val2 = f(100)
print(val1,val2)

15 110

In [ ]:
#Fungsi Lambda untuk mengalikan dua argumen input dan menampilkan hasilnya
f = lambda x,y: x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3,val4)

20 35

# Anonymous Function

In [ ]:
def say_hello(nama):
  print(f"hello{name}, apa kabar?")

ucapin = say_hello(name)

NameError: ignored

In [ ]:
greeting

# Eksekusi Lambda Secara Langsung

In [ ]:
(lambda x,y: x**2 + y**2)(4,6)

52

Tanda kurung yang mengapit fungsi lambda artinya akan langsung mengeksekusi fungsi tersebut. Lalu kurung berikutnya akan berisi parameter.

# Mengapa kita menggunakan Lambda

In [ ]:
bilangan = [10,2,8,7,5,4,3,11,0,1]
filtered_result = map (lambda x: x*x, bilangan)
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [ ]:
#Menentukan bilangan genap
genap = lambda x: x%2 == 0
list(filter(genap, range(11)))

[0, 2, 4, 6, 8, 10]

In [ ]:
ganjil = lambda x: x%2 == 1
list(filter(ganjil, range(11)))

[1, 3, 5, 7, 9]